#container {
  padding: 20px;
}

h1 {
  color: tomato;
}

h2 {
  font-size: 1.2em;
}


/* ---------------------- Game Containers -- */

/*--Outer Container--*/
.game {
  width: 700px;
  margin: 0 auto;
}

/*--Columns + Rows--*/
#col0row0,
#col0row1,
#col0row2,
#col1row0,
#col1row1,
#col1row2,
#col2row0,
#col2row1,
#col2row2 {

}


/*--Tile Structure--*/
.tile0,
.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8 {
  height: 230px;
  width: 230px;
  background-image: url("../images/fruit.jpeg");
  /*-moz-box-sizing: border-box;
  box-sizing: border-box;*/
  display: inline-block;
  margin: -1px;
}

/* ---------------------- SLICING PHOTO -- */

.tile0 {
  background-position: 0% 0%;
}

.tile1 {
  background-position: 50% 0%;
}

.tile2 {
  background-position: 100% 0%;
}

.tile3 {
  background-position: 0% 50%;
}

.tile4 {
  background-position: 50% 50%;
}

.tile5 {
  background-position: 100% 50%;
}

.tile6 {
  background-position: 0% 100%;
}

.tile7 {
  background-position: 50% 100%;
}

.tile8 {
  background-position: 100% 100%;
  background-image: none;
  background: #fff;
}
