h1 {
  color: tomato;
}

h2 {
  font-size: 1.2em;
}


/* ---------------------- SLICING PHOTO -- */
.game {
  width: 700px;
  margin: 0 auto;
}


/* ---------------------- SLICING PHOTO -- */

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
  height: 230px;
  width: 230px;
  background-image: url("../images/ocean.jpeg");
  display: inline-block;
}

/* First Row */
.tile1 {
  background-position: 0% 0%;
}

.tile2 {
  background-position: 50% 0%;
}

.tile3 {
  background-position: 100% 0%;
}

/* Second Row */
.tile4 {
  background-position: 0% 50%;
}

.tile5 {
  background-position: 50% 50%;
}

.tile6 {
  background-position: 100% 50%;
}

/* Third Row */
.tile7 {
  background-position: 0% 100%;
}

.tile8 {
  background-position: 50% 100%;
}

.tile9 {
  background-position: 100% 100%;
  background-image: none;
  background: #fff;
}
