#container {
  padding: 20px;
}

h1 {
  color: tomato;
}

h2 {
  font-size: 1.2em;
}

/* ---------------------- Tile Structure & Game Structure -- */
.game {
  width: 706px;
  height: 706px;
  margin: 0 auto;
  position: relative;
}

.tile {
  height: 230px;
  width: 230px;
  background-image: url("../images/fruit.jpeg");
  position: absolute;
}

.col0 {
  left: 2px;
}

.col1 {
  left: 234px;
}

.col2 {
  left: 466px;
}

.row0 {
  top: 2px;
}

.row1 {
  top: 234px;
}

.row2 {
  top: 466px;
}


/* ---------------------- SLICING PHOTO -- */

#tile0 {
  background-position: 0% 0%;
}

#tile1 {
  background-position: 50% 0%;
}

#tile2 {
  background-position: 100% 0%;
}

#tile3 {
  background-position: 0% 50%;
}

#tile4 {
  background-position: 50% 50%;
}

#tile5 {
  background-position: 100% 50%;
}

#tile6 {
  background-position: 0% 100%;
}

#tile7 {
  background-position: 50% 100%;
}
